*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    margin: 100px auto;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 15px;
    background: whitesmoke;
    height: 400px;
    max-width: 45%;
    box-shadow: 2px 2px 8px 2px gray;
}
.main{
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 100%;
    box-shadow: 0 0 4px 0 gray;
}
.headpart{
    display: flex;
    color: blue;
    height: 60px;
    width: 100%;
    padding: 5px;
    margin: 0 100px 20px 100px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
img{
    height: 70px;
    width: 50px;
}
.webname{
    text-align: center;
}
.webname h1{
    font-size: 45px;
}
.webname p{
    font-size: small;
    word-spacing: 7px;
    letter-spacing: 4px;
    margin-left: 5px;
}
hr{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 0.4px 0 rgb(182, 182, 182);
    border: 0.01px solid rgb(224, 222, 222);
    margin-top: 5px;
}
#container{
    display: flex;
    margin: 2px 20px 0 20px;
}
.single{
    margin-left: 25px;
    width: 8cm;   
}
.single h2{
    padding: 15px 10px 20px 10px;
    font-family: sans-serif;
    font-size: 22;
}
.single ul{
    margin-left: 15px;
}
.check{
    margin-left: 20px;
}
.log{
    margin-left: 5px;
    background: rgb(221, 218, 218);
    color: black;
    width: 4.8cm;
    border-radius: 4px;
    outline-color: rgb(70, 70, 247);
    cursor: pointer;
    padding: 5px;
    border: none;
    margin-top: 4px;
}
.sso{
    outline: none;
    background: rgb(59, 59, 247);
    width: 3cm;
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    margin-top: 3px;
    cursor: pointer;
}
.moodle{
    margin-left: 40px;
    padding: 0 10px 0 30px;
    display: flex;
    flex-direction: column;
    width: 10cm;
}
.moodle h2{
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
    width: 5m;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    font-size: 15;
}
.line{
    width: 98%;
}
footer{
    width: 98%;
    padding: 10px;
    text-align: center;
}
form{
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 25px;
}
input {
    padding: 6px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 0.5px solid gray;
    outline-color: none;
    outline: none;
}